[buildout]
extends=
    https://raw.github.com/collective/buildout.plonetest/master/test-5.1.x.cfg
    versions.cfg

extensions = mr.developer

package-name = collective.editablemenu
package-extras = [test]

parts +=
    coverage
    test-coverage
    code-analysis
    dependencychecker
    robot
    omelette
    releaser

[coverage]
recipe = zc.recipe.egg
eggs = coverage

[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    export TZ=UTC
    ${buildout:directory}/bin/coverage run bin/test $*
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m --fail-under=90
    # Fail (exit status 1) if coverage returns exit status 2 (this happens
    # when test coverage is below 100%.
output = ${buildout:directory}/bin/test-coverage
mode = 755

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/collective
flake8-exclude=bootstrap.py,bootstrap-buildout.py,docs,bin,*.egg,setup.py,overrides,node-modules
flake8-max-complexity = 20
flake8-extensions =
    flake8-coding
    flake8-debugger
    flake8-print


[dependencychecker]
recipe = zc.recipe.egg
eggs =
    z3c.dependencychecker
    collective.editablemenu
scripts = dependencychecker

[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,ride,reload]

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser[recommended]

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
