graft src/cciaapd
graft docs/
include *.cfg *.rst *.in
include *.py
include .coveragerc
recursive-include docs *
recursive-include src *
global-exclude *pyc
include .editorconfig
include .gitattributes
