[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-6.1.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone61.cfg

[versions]
zc.buildout =

# Added by buildout at 2025-10-15 12:24:02.504735
createcoverage = 1.5
flake8-blind-except = 0.2.1
flake8-coding = 1.3.2
flake8-commas = 4.0.0
flake8-debugger = 4.1.2
flake8-deprecated = 2.2.1
flake8-isort = 6.1.2
flake8-pep3101 = 2.1.0
flake8-plone-api = 1.6.0
flake8-plone-hasattr = 1.1.1
flake8-print = 5.0.0
flake8-quotes = 3.4.0
flake8-string-format = 0.3.0
flake8-todo = 0.7
i18ndude = 6.2.1
plone.app.blocks = 7.0.1
plone.recipe.codeanalysis = 3.0.1
unittest2 = 1.1.0

# Required by:
# unittest2==1.1.0
argparse = 1.4.0

# Required by:
# traceback2==1.4.0
linecache2 = 1.0.0

# Required by:
# collective.editablemenu==3.0.2.dev0
plone.app.tiles = 4.0.1

# Required by:
# plone.app.blocks==7.0.1
plone.jsonserializer = 0.9.11

# Required by:
# unittest2==1.1.0
traceback2 = 1.4.0

# Required by:
# collective.editablemenu==3.0.2.dev0
z3c.jbot = 2.2

# Added by buildout at 2025-10-15 14:11:42.719568
flake8 = 6.1.0
isort = 6.1.0
mccabe = 0.7.0
pycodestyle = 2.11.0
pyflakes = 3.1.0
