#stored-settings .menuTabPreview {
  background-color: #eee;
  float: left;
  margin: 0.3em;
  padding: 0.5em;
}

#stored-settings .tabActions {
  float: right;
}

#menu-form-input,
#stored-settings .tabValues {
  clear: both;
}

/*.navigationFolderPreview {
  display: block;
}*/

#portal-globalnav li a span { display: block; }
